Repository petercb/k3os-kernel: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci, check-annotations

circleci:
  name: CircleCI Config validate
  language: system
  entry: circleci config validate
  stages:
  - commit

check-annotations:
  name: Check for forbidden configs in annotations
  entry: CONFIG_CC_CAN_LINK|CONFIG_CC_CAN_LINK_STATIC
  language: pygrep

fix: adjustments for 7.0 kernel build
  build.sh
Due: none

fix: preparing for running in a Dev Container
  Dockerfile
Due: none

feat: adding task to container
  Dockerfile
Due: none

fix: [TASK-001] refactored init tests to fix BCM2835 MMC failures
  docs/PRD.md
  docs/log.md
  docs/status.md
  docs/technical.md
  overlay/debian.k3os/config/annotations
  tasks/TASK-001.md
  tasks/tasks.md
  u-root-init/main.go
  u-root-init/main_arm64.go
  u-root-init/main_linux.go
  u-root-init/main_test.go
  u-root-init/symbols.go
  u-root-init/tester.go
Due: check-annotations

feat: [TASK-005] Load kernel modules in test init
  build.sh
  docs/log.md
  docs/status.md
  overlay/debian.k3os/config/annotations
  tasks/TASK-005.md
  tasks/tasks.md
  test-kernel.sh
  u-root-init/go.mod
  u-root-init/go.sum
  u-root-init/main_arm64.go
  u-root-init/main_linux.go
  u-root-init/symbols.go
  u-root-init/tester.go
Due: check-annotations

fix: amd64 build
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: add option for emulated build env
  build-builder.sh
  localbuildenv.sh
  test-kernel.sh
Due: none

fix: amd64 build again
  build.sh
Due: none

feat: enable needed watchdogs, disable IPMI and irrelevant WDT
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: add some more tests, fix HR_RANDOM* options
  overlay/debian.k3os/config/annotations
  u-root-init/main_amd64.go
  u-root-init/main_arm64.go
  u-root-init/tester.go
Due: check-annotations

feat: refactored tests to be more DRY
  u-root-init/main_amd64.go
  u-root-init/main_arm64.go
  u-root-init/main_generic.go
  u-root-init/main_linux.go
  u-root-init/main_test.go
  u-root-init/tester.go
Due: none

fix: use correct HW_RANDOM_* symbols for init test
  u-root-init/tester.go
Due: none

feat: reenable DRM on AMD64, disable panels from ARM64
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable battery and chargers
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable backlights
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable some SoC hardware types
  overlay/debian.k3os/config/annotations
Due: check-annotations

fix: test for NVRAM, removed HW_RANDOM_{AMD,INTEL}
  u-root-init/tester.go
Due: none

feat: fix sensors, remove some industrial and other platforms
  overlay/debian.k3os/config/annotations
Due: check-annotations

fix: fully disable IGH_ECAT
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: fixed up some drivers in the wrong state
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: [TASK-006] Addes some stress tests
  tasks/tasks.md
  u-root-init/main_linux.go
  u-root-init/stress.go
  u-root-init/stress_test.go
Due: none

feat: refactored init test and added more tests
  u-root-init/go.mod
  u-root-init/go.sum
  u-root-init/main.go
  u-root-init/main_linux.go
  u-root-init/main_test.go
  u-root-init/stress.go
  u-root-init/symbols.go
  u-root-init/tester.go
Due: none

feat: Update to 7.0 kernel, added tests and docs
  .circleci/config.yml
  .gitignore
  Dockerfile
  README.md
  build-builder.sh
  build.sh
  docs/PRD.md
  docs/architecture.mermaid
  docs/log.md
  docs/status.md
  docs/technical.md
  docs/unit_testing_guideline.md
  localbuildenv.sh
  overlay/debian.k3os/config/annotations
  tasks/TASK-001.md
  tasks/TASK-005.md
  tasks/tasks.md
  test-kernel.sh
  u-root-init/go.mod
  u-root-init/go.sum
  u-root-init/main.go
  u-root-init/main_amd64.go
  u-root-init/main_arm64.go
  u-root-init/main_generic.go
  u-root-init/main_linux.go
  u-root-init/main_test.go
  u-root-init/stress.go
  u-root-init/stress_test.go
Due: circleci, check-annotations

feat: add CPU microcode, try to slim down firmware
  Dockerfile
  build.sh
Due: none

fix: don't include firmware in test initrd
  test-kernel.sh
Due: none

fix: clean up some modules
  overlay/debian.k3os/config/annotations
Due: check-annotations

fix: when a Makefile has no CONFIG_ entries
  build.sh
Due: none

fix: handle initrd not needing any modules/firmware
  build.sh
Due: none

fix: add missing network drivers and add more tests for them
  overlay/debian.k3os/config/annotations
  u-root-init/main.go
Due: check-annotations

fix: disable IP6_NF_SECURITY to match IP_NF_SECURITY
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: use dracut to create initrd
  Dockerfile
  build.sh
Due: none

feat: disable some PHY on ARM64
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: docker image distribution
  .circleci/config.yml
  Dockerfile
  README.md
  build.sh
  docs/PRD.md
  docs/architecture.mermaid
  docs/technical.md
  envvars
  files/configmod.sh
  files/select_firmware.sh
  files/test_kernel.sh
  kernel-config.sh
  local-build.sh
  localbuildenv.sh
  test-kernel.sh
Due: circleci

fix: image tagging logic in CI
  .circleci/config.yml
Due: circleci

fix: build failures
  .circleci/config.yml
  Dockerfile
Due: circleci

fix: more fixing of pipeline
  .circleci/config.yml
Due: circleci

fix: failures and innefficiencies
  .circleci/config.yml
  Dockerfile
  overlay/debian.k3os/rules.d/arm64.mk
Due: circleci

fix: add some debugging
  .circleci/config.yml
Due: circleci

fix: tar not cpio
  .circleci/config.yml
Due: circleci

feat: docker image distribution
  .circleci/config.yml
  Dockerfile
  README.md
  build.sh
  docs/PRD.md
  docs/architecture.mermaid
  docs/technical.md
  envvars
  files/configmod.sh
  files/select_firmware.sh
  files/test_kernel.sh
  kernel-config.sh
  local-build.sh
  localbuildenv.sh
  overlay/debian.k3os/rules.d/arm64.mk
  test-kernel.sh
Due: circleci

Path conditions:
  circleci: any of: \.circleci/config\.yml
  check-annotations: any of: overlay/debian.k3os/config/annotations
