Repository petercb/k3os-kernel: changes, and which pre-commit hooks are due for each by the changed paths.
All: circleci, check-annotations

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]  # only show errors and warnings
  - repo: local
    hooks:
      - id: circleci
        name: CircleCI Config validate
        language: system
        entry: circleci config validate
        files: '\.circleci/config\.yml'
        stages:
          - commit
      - id: check-annotations
        name: Check for forbidden configs in annotations
        entry: CONFIG_CC_CAN_LINK|CONFIG_CC_CAN_LINK_STATIC
        language: pygrep
        files: overlay/debian.k3os/config/annotations

feat: disable FUSION on amd64
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable X86_EXTENDED_PLATFORM
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable 32bit emulation
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: enable TRANSPARENT_HUGEPAGE
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable LAPB
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: enable DEBUG_INFO_DWARF4
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable unnecessary partition types and set EFI options
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable CRYPTO_DEV_QAT
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable QCOM_PMIC_PDCHARGER_ULOG
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable VMWARE, make modules of some USB network drivers
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable some graphics drivers, panels and backlights
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable some network cards that are unlikely to be used
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable irrelevant USB storage drivers on arm64
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: enable PSI
  overlay/debian.k3os/config/annotations
Due: check-annotations

feat: disable or make module for several network drivers
  overlay/debian.k3os/config/annotations
Due: check-annotations

test: add QEMU boot test of the kernel
  .circleci/config.yml
  Dockerfile
  test-kernel.sh
Due: circleci

fix: use u-root instead of busybox
  test-kernel.sh
  u-root-init/go.mod
  u-root-init/main.go
Due: none

test for more indicators that the kernel is good
  test-kernel.sh
  u-root-init/main.go
Due: none

test: generate JUnit report and collect in pipeline
  .circleci/config.yml
  test-kernel.sh
Due: circleci

fix: properly install qemu
  test-kernel.sh
Due: none

test: add checks for usb storage being enabled
  test-kernel.sh
  u-root-init/main.go
Due: none

test: add check for VETH enabled
  test-kernel.sh
  u-root-init/main.go
Due: none

test: add check for BRIDGE
  test-kernel.sh
  u-root-init/main.go
Due: none

test: refactor the harness shell script to be more DRY
  test-kernel.sh
Due: none

test: add check for USB_UAS and IP_ADVANCED_ROUTER
  test-kernel.sh
  u-root-init/main.go
Due: none

test: check for VXLAN
  test-kernel.sh
  u-root-init/main.go
Due: none

test: refactor symbol checking, check for Netfilter and IPtables
  test-kernel.sh
  u-root-init/main.go
Due: none

feat: refactor init tests to use checkSymbols() where possible
  u-root-init/main.go
Due: none

feat(tests): only look symbols up once, check QEMU return code
  test-kernel.sh
  u-root-init/main.go
Due: none

feat: enable HFSPLUS_FS on amd64
  overlay/debian.k3os/config/annotations
  test-kernel.sh
  u-root-init/main.go
  u-root-init/main_amd64.go
  u-root-init/main_arm64.go
  u-root-init/main_generic.go
Due: check-annotations

feat(refactor): Move more test code to Go instead of Shell
  test-kernel.sh
  u-root-init/main.go
  u-root-init/main_amd64.go
Due: none

fix(refactor): make tests more DRY
  u-root-init/main.go
Due: none

feat(test): add check for Longhorn V2 data engine requirements
  overlay/debian.k3os/config/annotations
  u-root-init/main.go
Due: check-annotations

feat(test): Use VirtIO FS to write out JUnit
  test-kernel.sh
  u-root-init/main.go
Due: none

fix: Revert "feat(test): Use VirtIO FS to write out JUnit"
  test-kernel.sh
  u-root-init/main.go
Due: none

fix: clean out test results dir before run
  test-kernel.sh
Due: none

feat: add tests and fix problems found
  .circleci/config.yml
  Dockerfile
  overlay/debian.k3os/config/annotations
  test-kernel.sh
  u-root-init/go.mod
  u-root-init/main.go
  u-root-init/main_amd64.go
  u-root-init/main_arm64.go
  u-root-init/main_generic.go
Due: circleci, check-annotations

feat: update to 7.0 kernel (first pass)
  .circleci/config.yml
  .gitignore
  Dockerfile
  build.sh
  overlay/debian.k3os/config/annotations
Due: circleci, check-annotations

feat: add some ARM64 specific tests, plus documents
  DEVELOPMENT.md
  README.md
  build.sh
  u-root-init/main.go
  u-root-init/main_arm64.go
Due: none

feat: update contextual documentation
  DEVELOPMENT.md
  README.md
  docs/PRD.md
  docs/architecture.mermaid
  docs/log.md
  docs/status.md
  docs/technical.md
  docs/unit_testing_guideline.md
  tasks/tasks.md
Due: none
